.switch-basic {
  margin: 5rem 20rem;
  position: relative;
  width: 4rem;
  height: 2rem;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.switch-basic-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.switch-basic::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 1rem;
  transition: background-color 0.3s;
}

.switch-basic-on::before {
  background-color: #6cc4ca;
}

.switch-basic-off::before {
  background-color: #999;
}

.switch-basic::after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 2rem;
  height: 100%;
  border-radius: 100%;
  border: 4px solid;
  top: 0;
  transition: left 0.3s, background-color 0.3s, border-color 0.3s;
}

.switch-basic-on::after {
  left: 50%;
  background-color: #FFF;
  border-color: #6cc4ca;
}

.switch-basic-off::after {
  left: 0;
  background-color: #bbb;
  border-color: #999;
}